<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Path" value="D:\CPPFoundation\Sources\CPPFoundation\CPPFoundation\"/>
    <add key="LinePrefixTabs" value="2"/>
    <add key="LinePrefix" value="$(wildcard "/>
    <add key="LinePostfix" value="*.cpp) \"/>
    <!-- Valid VALUES are [WINDOWS] and [LINUX]. -->
    <add key="LineSeparator" value="LINUX"/>
  </appSettings>
</configuration>