<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Path" value="D:\55555.txt"/>
    <add key="PrintCode" value="true"/>
    <add key="NumberOfLineSeparators" value="2"/>
    <add key="Condition_1" value="Line.Contains(&quot;[********** LOCK ACQUIRED&quot;)==true"/>
    <add key="Condition_2" value="Line.Contains(&quot;[********** LOCK RELEASED&quot;)==true"/>
  </appSettings>
</configuration>