<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CompilePrefix" value="g++ -m64 -std=c++11 -DPLATFORM_LINUX -I. -pthread -fexceptions -pedantic -Wall -Wextra -o Program.exe"/>
    <add key="CompilePostfix" value=""/>
    <add key="Path" value="D:\CPPFoundation\Sources\CPPFoundation\CPPFoundation\"/>
    <add key="BatchFullName" value="Compile.bat"/>
  </appSettings>
</configuration>